[Unit]
Description=Runs the Ugglan executable.
After=network.target

[Service]
Type=simple
Environment="DATA_LOG_ROOT=/usr/local/bin/ugglan/data_logs"
ExecStartPre=mkdir -p ${DATA_LOG_ROOT}
ExecStart=./ugglan
WorkingDirectory=/usr/local/bin/ugglan

[Install]
WantedBy=multi-user.target
