[Unit]
Description=Runs the Ugglan executable.
After=network.target

[Service]
Type=simple
EnvironmentFile=/usr/local/bin/ugglan/env
ExecStartPre=/bin/mkdir -p ${DATA_LOG_ROOT}
ExecStart=/usr/local/bin/ugglan/ugglan_app
WorkingDirectory=/usr/local/bin/ugglan

[Install]
WantedBy=multi-user.target
