---
Checks: 'clang-diagnostic-*,
         clang-analyzer-*,
         bugprone-*,
         performance-*,
         readability-*,
         -readability-avoid-const-params-in-decls,
         -readability-magic-numbers'
WarningsAsErrors: ''
HeaderFilterRegex: 'inc'
